<div class="modal fade bd-example-modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">ปรับสถานะงาน </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (ViewData["position"] as string == "CK")
                {
                    <div class="row">
                        <div class="col-4">
                            <label for="edName" class="form-label">Name </label>
                            <input type="text" name="edName" id="edName" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edwebsite" class="form-label">Website </label>
                            <input type="text" name="edwebsite" id="edwebsite" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edContact" class="form-label">Contact </label>
                            <input type="text" name="edContact" id="edContact" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <input id="companyid" hidden />
                        <div class="col-4">
                            <label for="edpriority" class="form-label">Priority </label>
                            <select id="edpriority" class="form-select" aria-label="Default select example">
                                @if (ViewData["priority"] != null)
                                {
                                    var priority = ViewData["priority"] as List<SaleContractAPI.DataContract.Priority>;
                                    for (int i = 0; i < priority.Count; i++)
                                    {
                                        <option value="@priority[i].ID">@priority[i].Priority_description</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-4">
                            <label for="edstatus" class="form-label">Status Company</label>
                            <select id="edstatus" class="form-select" aria-label="Default select example">
                                @if (ViewData["substatus"] != null)
                                {
                                    var substatus = ViewData["substatus"] as List<SaleContractAPI.DataContract.substatus>;
                                    for (int i = 0; i < substatus.Count; i++)
                                    {
                                        <option value="@substatus[i].STATUS_CODE">@substatus[i].STATUS_DESCRIPTION</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="ednoti" class="form-label">Notification </label>
                            <input type="text" id="ednoti" class="form-control" name="ednoti">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edPosition" class="form-label">Position </label>
                            <input type="text" name="edPosition" id="edPosition" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edEmail" class="form-label">Email </label>
                            <input type="text" name="edEmail" id="edEmail" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edMobile" class="form-label">Mobile </label>
                            <input type="text" name="edMobile" id="edMobile" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edModelTypes" class="form-label">Model Types </label>
                            <input type="text" name="edModelTypes" id="edModelTypes" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edLocation" class="form-label">Location </label>
                            <input type="text" name="edLocation" id="edLocation" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edPeople" class="form-label">People </label>
                            <input type="text" name="edPeople" id="edPeople" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edDealcreationdate" class="form-label">Deal creation date</label>
                            <input type="text" id="edDealcreationdate" class="form-control" name="edDealcreationdate">
                        </div>
                        <div class="col-4">
                            <label for="edDuedatefollowup" class="form-label">Due date follow up </label>
                            <input type="text" id="edDuedatefollowup" class="form-control" name="edDuedatefollowup">
                        </div>
                        <div class="col-4">
                            <label for="edDealvalue" class="form-label">Deal value </label>
                            <input type="number" name="edDealvalue" class="form-control" id="edDealvalue" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edEmployee" class="form-label">Owner</label>
                            <select id="edEmployee" class="form-select" aria-label="Default select example">
                                @if (ViewData["employee"] != null)
                                {
                                    var employee = ViewData["employee"] as List<SaleContractAPI.DataContract.employee>;
                                    for (int i = 0; i < employee.Count; i++)
                                    {
                                        <option value="@employee[i].user_id">@employee[i].fullname   @employee[i].lastname</option>
                                    }
                                }
                            </select>
                        </div>                     
                    </div>
                    <input type="number" id="edPersen" class="form-control" name="edPersen" hidden>
                    <div class="row">
                        <div class="col-12">
                            <label for="remark" class="form-label">Remark</label>
                            <textarea class="form-control" id="remark" rows="3"></textarea>
                        </div>
                    </div>
                }
                else
                {
                    <input type="text" name="edName" id="edName" class="form-control" hidden />
                    <input type="text" name="edwebsite" id="edwebsite" class="form-control" hidden />
                    <input type="text" name="edPosition" id="edPosition" class="form-control" hidden />

                    <div class="row">
                        <input id="companyid" hidden />
                        <div class="col-4">
                            <label for="edpriority" class="form-label">Priority </label>
                            <select id="edpriority" class="form-select" aria-label="Default select example">
                                @if (ViewData["priority"] != null)
                                {
                                    var priority = ViewData["priority"] as List<SaleContractAPI.DataContract.Priority>;
                                    for (int i = 0; i < priority.Count; i++)
                                    {
                                        <option value="@priority[i].ID">@priority[i].Priority_description</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-4">
                            <label for="edstatus" class="form-label">Status Company</label>
                            <select id="edstatus" class="form-select" aria-label="Default select example">
                                @if (ViewData["substatus"] != null)
                                {
                                    var substatus = ViewData["substatus"] as List<SaleContractAPI.DataContract.substatus>;
                                    for (int i = 0; i < substatus.Count; i++)
                                    {
                                        <option value="@substatus[i].STATUS_CODE">@substatus[i].STATUS_DESCRIPTION</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="ednoti" class="form-label">Notification </label>
                            <input type="text" id="ednoti" class="form-control" name="ednoti">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edContact" class="form-label">Contact </label>
                            <input type="text" name="edContact" id="edContact" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edEmail" class="form-label">Email </label>
                            <input type="text" name="edEmail" id="edEmail" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edMobile" class="form-label">Mobile </label>
                            <input type="text" name="edMobile" id="edMobile" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edModelTypes" class="form-label">Model Types </label>
                            <input type="text" name="edModelTypes" id="edModelTypes" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edLocation" class="form-label">Location </label>
                            <input type="text" name="edLocation" id="edLocation" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label for="edPeople" class="form-label">People </label>
                            <input type="text" name="edPeople" id="edPeople" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edDealcreationdate" class="form-label">Deal creation date</label>
                            <input type="text" id="edDealcreationdate" class="form-control" name="edDealcreationdate">
                        </div>
                        <div class="col-4">
                            <label for="edDuedatefollowup" class="form-label">Due date follow up </label>
                            <input type="text" id="edDuedatefollowup" class="form-control" name="edDuedatefollowup">
                        </div>
                        <div class="col-4">
                            <label for="edDealvalue" class="form-label">Deal value </label>
                            <input type="number" name="edDealvalue" class="form-control" id="edDealvalue" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="edPersen" class="form-label">Percen</label>
                            <input type="number" id="edPersen" class="form-control" name="edPersen">
                        </div>
                        <div class="col-4" hidden>
                            <label for="edEmployee" class="form-label">Owner</label>
                            <select id="edEmployee" class="form-select" aria-label="Default select example">
                                @if (ViewData["employee"] != null)
                                {
                                    var employee = ViewData["employee"] as List<SaleContractAPI.DataContract.employee>;
                                    for (int i = 0; i < employee.Count; i++)
                                    {
                                        <option value="@employee[i].user_id">@employee[i].fullname   @employee[i].lastname</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="remark" class="form-label">Remark</label>
                            <textarea class="form-control" id="remark" rows="3"></textarea>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button id="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updatestatus()">Save</button>
            </div>
        </div>
    </div>
</div>
