@model List<SaleContractAPI.DataContract.company_detail>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Button trigger modal -->
<button type="button" id="showedit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" hidden>
    Launch static backdrop modal
</button>

<!-- Button trigger modal -->
<button type="button" id="showtimeline" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#timeline" hidden>
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">ปรับสถานะงาน </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="companyid" hidden />
                    <div class="col-4">
                        <label for="edpriority" class="form-label">Priority </label>
                        <select id="edpriority" class="form-select" aria-label="Default select example">
                            <option value="" selected>- ไม่แก้ไข -</option>
                            @if (ViewData["priority"] != null)
                            {
                                var priority = ViewData["priority"] as List<SaleContractAPI.DataContract.Priority>;
                                for (int i = 0; i < priority.Count; i++)
                                {
                                    <option value="@priority[i].ID">@priority[i].Priority_description</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="col-4">
                        <label for="edstatus" class="form-label">Status Company</label>
                        <select id="edstatus" class="form-select" aria-label="Default select example">
                            @if (ViewData["substatus"] != null)
                            {
                                var substatus = ViewData["substatus"] as List<SaleContractAPI.DataContract.substatus>;
                                for (int i = 0; i < substatus.Count; i++)
                                {
                                    <option value="@substatus[i].STATUS_CODE">@substatus[i].STATUS_DESCRIPTION</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="ednoti" class="form-label">Notification </label>
                        <input type="date" id="ednoti" name="ednoti" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="remark" class="form-label">Remark</label>
                        <textarea class="form-control" id="remark" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updatestatus()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal timeline-->
<div class="modal fade" id="timeline" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id=companyid" class="modal-title fs-5">แสดงสถานะงานย่อย </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div id="renderiframe" class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="frmsearch" asp-action="Index" asp-controller="Home" asp-antiforgery="true">
    <div class="row">
        <div class="mb-3">
            <label for="ddpPriority" class="form-label">Priority</label>
            <select id="ddpPriority" name="Priority" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="" selected>- ทั้งหมด -</option>
                @if (ViewData["priority"] != null)
                {
                    var priority = ViewData["priority"] as List<SaleContractAPI.DataContract.Priority>;
                    for (int i = 0; i < priority.Count; i++)
                    {                       
                      <option value="@priority[i].ID">@priority[i].Priority_description</option>                        
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="ddpStatus" class="form-label">Status</label>
            <select id="ddpStatus" name="status" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="" selected>- ทั้งหมด -</option>
                @if (ViewData["substatus"] != null)
                {
                    var substatus = ViewData["substatus"] as List<SaleContractAPI.DataContract.substatus>;
                    for (int i = 0; i < substatus.Count; i++)
                    {
                        <option value="@substatus[i].STATUS_CODE">@substatus[i].STATUS_DESCRIPTION</option>                        
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="txtName"  class="form-label">Name</label>
            <input type="text" name="NAME" class="form-control" id="txtName" placeholder="Name">
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-sm m-3">Search</button>
            <button type="button" class="btn btn-danger btn-sm m-3" onclick="clearbtn()">Clear</button>
        </div>
    </div>
</form>


    <div class="row">
        <div class="mb-3">
        <a href="@Url.Action("Create","Home")" class="btn btn-success btn-sm m-3">Create</a>
        </div>
    </div>


<div class="row">
        <table id="datarender" class="table table-striped nowrap" style="width:100%">
            <thead>
                <tr>
                <th>#</th>
                <th scope="col">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Website </th>
                <th scope="col">Contract </th>
                <th scope="col">Position </th>
                <th scope="col">Email </th>
                <th scope="col">Mobile </th>
                <th scope="col">Owner </th>
                <th scope="col">Model Types </th>
                <th scope="col">People </th>
                <th scope="col">Status </th>
                <th scope="col">Priority </th>
                <th scope="col">Deal creation date </th>
                <th scope="col">Due date follow up </th>
                <th scope="col">DealDateNoti</th>
                <th scope="col">Deal value </th>
                <th scope="col">Won</th>
                <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th><a href="#" onclick="showtimeline('@Model[i].ID','@Model[i].NAME')"><i class="bi bi-plus-square-fill" style="font-size:15px"></i></a></th>
                        <th ondblclick="showedit('@Model[i].ID')" scope="row">@(i + 1)</th>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].NAME </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].WEBSITE </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Contract </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Position </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Email </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Mobile </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Owner </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].ModelType </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].People </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Status</td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Priority_description </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].DealCreate </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].DealDateFollowup </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].DealDateNoti </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].DealValue </td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].Won</td>
                        <td ondblclick="showedit('@Model[i].ID')">@Model[i].LastUpdate</td>
                    </tr>
                }
            }
            else
            {
                <tr>ไม่พบข้อมูล</tr>
            }
        </tbody>
        </table>
    </div>


@section Scripts{
    <script>
        $(document).ready(function (){
            new DataTable('#datarender', {
                responsive: true
            });
        })

        const clearbtn =()=>{
            let form = document.getElementById("frmsearch");
            form.reset();
        }

        const showedit = (companyid) => {
            $('#companyid').val(companyid)
            $('#staticBackdropLabel').text(`ปรับสถานะ ${companyid}`)
            $('#showedit').click()
        }

        const showtimeline = (id,name) => {
            $('#companyid').text(`สถานะบริษัท:${name}`)
            $('#renderiframe').html('')
            $.ajax({
                url: `@Url.Action("GET_TIMELINE","Home")?companyid=${id}`,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                    if (response.success) {
                        if (response.data) {
                            let render = ''
                            for (let i = 0; i < response.data.length; i++) {
                                render += `<div class="timeline-step">
                                                        <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                                            <div class="inner-circle"></div>
                                                                        <p class="h6 mt-3 mb-1">${response.data[i].status_description ?? ''}</p>
                                                                        <p class="h6 text-muted mb-0 mb-lg-0">${response.data[i].fsystem_id ?? ''}</p>
                                                                        <p class="h6 text-muted mb-0 mb-lg-0">${response.data[i].fsystem_dt ?? ''}</p>
                                                                        <p class="h6 text-muted mb-0 mb-lg-0">${response.data[i].remark ?? ''}</p>
                                                        </div>
                                                            </div><i class="fa-solid fa-arrow-right"></i>`
                            }
                            $('#renderiframe').append(render)
                            $('#showtimeline').click()


                        } else {
                            Swal.fire({
                                icon: "waring",
                                title: "Oops...",
                                text: 'ไม่พบข้อมูล'
                            });
                        }

                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }

                },
                error: function () {

                }
            });

        }

        const updatestatus = () => {
            $.ajax({
                url: '@Url.Action("UpdateStatus", "Home")',
                type: 'POST',
                dataType: 'json',
                data: {
                    company_id: $('#companyid').val(),
                    priority: $('#edpriority').val(),
                    status_code: $('#edstatus').val(),
                    remark: $('#remark').val(),
                    noti_dt: $('#ednoti').val()
                },
                success: function (response) {

                    if (response.success) {

                        Swal.fire("Saved!", "", "success");

                        setTimeout(function () {
                            //your code to be executed after 1 second
                            $('#closemodal').click()
                            $('#search').click()
                        }, 3000);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }

                },
                error: function () {

                }
            });

        }
    </script>
}